In [16]:
#Importando a biblioteca pandas e atribuindo a variável o conjunto de dados do dataset.

import pandas as pd
arquivo = pd.read_csv("C:/Users/victo/Downloads/wine_dataset.csv")

In [17]:
#Visualizando dataset

arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [18]:
# Substituindo os tipos de vinho para podermos realizar a classificação, vinho tinto = 0 e vinho branco = 1.

arquivo['style'] = arquivo['style'].replace('red', 0)
arquivo['style'] = arquivo['style'].replace('white', 1)

In [19]:
# Atribuindo as variáveis aos conjuntos de dados.

y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [22]:
# Utilizando pacote de seleção da biblioteca Sklearn para separar os dados de treino e de teste.
# Será utilizado 70% dos dados para treino e 30% dos dados para teste.

from sklearn.model_selection import train_test_split

x_treino, x_teste,  y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [27]:
# Utilizando algorítimo de Árvore de decisão para realizar a classificação dos dados.
# Resultado da acurácia do modelo exibido na tela.

from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ', resultado)

Acurácia:  0.9969230769230769

In [28]:
# Fatiamento dos dados que iremos querer que o algorítmo descubra nesse último teste.

y_teste[100:105]

6026    1
3729    1
460     0
6459    1
1946    1
Name: style, dtype: int64

In [29]:
# Fatiamento dos dados que iremos testar.

x_teste[100:105]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
6026,6.3,0.32,0.26,12.3,0.044,24.0,205.0,0.99611,3.11,0.58,9.9,5
3729,7.0,0.35,0.24,1.9,0.040,21.0,144.0,0.99230,3.35,0.38,11.0,5
460,9.2,0.43,0.52,2.3,0.083,14.0,23.0,0.99760,3.35,0.61,11.3,6
6459,6.0,0.52,0.33,7.7,0.046,24.0,119.0,0.99224,3.04,0.38,11.0,6
1946,6.7,0.19,0.41,15.6,0.056,75.0,155.0,0.99950,3.20,0.44,8.8,6

In [30]:
# Realizando a predição dos dados.

previsoes = modelo.predict(x_teste[100:105])

In [31]:
# Algorítmo classificou corretamente os dados.

previsoes

array([1, 1, 0, 1, 1], dtype=int64)